*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    background-color: rgb(248, 245, 245);
}

#nav{
    width:1400px;
    height:80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    position:fixed;
    z-index:20;
    padding-right:100px;
    padding-left:100px;
   
}

#location{
     width:200px;
    padding:5px;
    padding:5px;
    margin-left:-50px;
    border-top: 0px;
    border-left: 0px;
    border-right:0px;
   
}

#search{
width:350px;
padding:7px;
margin-left:-90px;
background-color:rgba(235, 237, 240, 0.627);
border: 1px solid rgba(0, 0, 0, 0.374);
border-radius:7px;
}

#category,#login,#cart{

    width:70px;
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 12px;
    align-items: center;
    margin-left:-70px;
    color:rgba(0, 0, 0, 0.793)
}
#category{
    width:80px;
    padding:20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
}

#login{
    width:70px;
    padding:30px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;

   
}
#cart{

    width:80px;
    padding:20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
    
}

#nav-img{

    margin-left:30px;
}
